/*common styles*/
body {
  height:100%;
  width: 100%;
  background-image: url("images/background/technology.jpg");
}
header {
  padding-top: 5px;
}
h1, h2, h3, h4 {
  font-family: 'Sansita Swashed', cursive;
  text-align: center;
  color: goldenrod;
  padding-left: -400px;
  padding-right: -400px;
  letter-spacing: 2px;
}
article, header, footer {
  background-color: rgba(3, 26, 153, 0.918);
}
main, footer {
  color: goldenrod;
  text-align: center; 
}
p {
  letter-spacing: 1px;
  margin-left: 200px;
  margin-right: 200px;
  line-height: 40px;
}
main article, section, footer {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 7px;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
}
/*rule styles*/
hr {
  margin-bottom: -1px;
  margin-top: -1px;
}
main hr, footer hr {
  margin: -3px 200px -10px 200px;
}
/*list styles*/
ul{
  list-style-position: inside;
  list-style: none;
  margin-right: -400px;
  margin-left: -430px;
  font-size: 18px;
  letter-spacing: 1px;
}
ol{
  list-style-position: outside;
  text-align: left;
  letter-spacing: 1px;
}
/*img styles*/
.img-wrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 2px;
  }
/*link styles*/
nav {
  display: flex;
  justify-content: center;
}
a:link {
  color:goldenrod;
}
a:visited {
  color: rgb(184, 139, 28);
}
a:hover {
  transition-duration: .7s;
  color:yellow;
  letter-spacing: 2px;
}
a:target {
  transition-duration: .3s;
  color: wheat;
}
/*footer styles*/
footer {
  padding-bottom: 5px;
}
